{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, [eunit, public_key, ssl]},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{et,
   {git, "https://github.com/galdor/erl-et.git", {tag, "master"}}},
  {mhttp,
   {git, "https://github.com/galdor/erl-mhttp.git", {branch, "master"}}},
  {backoff,
   {git, "https://github.com/ferd/backoff.git", {tag, "1.1.6"}}}]}.
{shell, [{apps, [influx]}]}.
